@import url('https://fonts.googleapis.com/css?family=Lobster');

.column {
  float: left;
  padding: 10px;
}

.column.leftie{
  font-family: "Nimbus Sans Extended D",Helvetica,"Arial",sans-serif;
  width: 15%;
  margin-left: 3%;
  margin-top: 5%;
  min-height: 50vh;
}

.column.rightie {
  width: 75%;
  margin-top: 5%;
  min-height: 50vh;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.HImg {
  height: calc(180px + 2vmin);
}
table {
  display: inline-table;
}

a:link { 
  text-decoration: none;
  color: #1e222a;
}

a:visited {
  color: #1e222a
}

h3:hover { 
  text-decoration: none; 
  background-color: #2c323c;
  color: #ededed
}

@media screen and (max-width: 800px) {
  .column.rightie, .column.leftie {
    width: 100%;
  }
}


